@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@300;400&display=swap');

:root {
    --primary-color: #333333;
    --secondary-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

.bk-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-form {
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    background-color: var(--secondary-color);
    border-radius: 76px;
}

.section-form form {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.section-form form .lg {
    margin-top: 20px;
}

.section-form form .nm, .section-form form .sn {
    width: 100%;
    text-align: center;
}

.section-form form .nm {
    margin-top: 35px;
    padding-bottom: 10px;
}

.section-form form .nm input, .section-form form .sn input {
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    font-size: 15px;
}

.section-form form .sn {
    margin-top: 10px;
    padding-right: 10px;
}

.btn {
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
}

/* Page Main */

.bk-main-second {
    width: 98.5%;
    height: 96.5vh;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.menu-main {
    background: var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    height: 20%;
    padding: 40px 70px 0 70px;
}

.container-img {
    width: 110px;
    height: 110px;
    float: left;
    border-radius: 50%;     
}

.container-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-info {
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.tasks-main {
    border: 1px solid red;
    width: 100%;
    height: 40%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasks-title {
    color: var(--secondary-color);
}

.tasks-icon-r {
    display: flex;
    flex-direction: row;
}

.tasks-icon-r svg {
    margin-top: 11px;
}

.tasks-icon-r h3 {
    margin-left: 15px;
    color: var(--secondary-color);
}